@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Nunito Sans', Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;
}

body {
  margin: 0;
}

:root.dark [data-id='dark-mode'],
:root:not(.dark) [data-id='light-mode'] {
  display: none;
}

#app {
  max-width: 1440px;
  margin: 0 auto;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
